<div *ngIf="weatherDataLoaded == true" class="container">
  <div class="current-info">
    <div class="date-container">
      <div id="time" class="time">
        {{ dateTime | date: "h:mm"
        }}<span id="am-pm">{{ dateTime | date: "a" }}</span>
      </div>
      <div id="date" class="date">{{ dateTime | date: "EEEE, d MMMM" }}</div>
      <div
        *ngIf="currentDataLoaded == true"
        id="currentWeatherItems"
        class="others"
      >
        <div class="weather-item">
          <div>Humidity</div>
          <div>{{ current.humidity }}%</div>
        </div>
        <div class="weather-item">
          <div>Pressure</div>
          <div>{{ current.pressure }}</div>
        </div>
        <div class="weather-item">
          <div>Wind Speed</div>
          <div>{{ current.wind_speed }}</div>
        </div>
        <div class="weather-item">
          <div>Sunrise</div>
          <div>{{ current.sunrise * 1000 | date: "hh:mm a" }}</div>
        </div>
        <div class="weather-item">
          <div>Sunset</div>
          <div>{{ current.sunset * 1000 | date: "hh:mm a" }}</div>
        </div>
      </div>
    </div>
    <div class="place-container">
      <div *ngIf="timezoneDataLoaded == true" id="timeZone" class="time-zone">
        {{ timezone }}
      </div>
      <div id="location" class="location">
        {{ weather.lat }}N {{ weather.lon }}E
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentDataLoaded == true" class="future-forecast">
  <div id="currentTemp" class="today">
    <img
      src="http://openweathermap.org/img/wn/{{
        current.weather[0].icon
      }}@2x.png"
      alt="weather icon"
      class="w-icon"
    />
    <div class="other">
      <div class="day">{{ current.dt * 1000 | date: "E" }}</div>
      <div class="temp">
        Night - {{ (current.temp.night - 273.15).toFixed() }}&#176; C
      </div>
      <div class="temp">
        Day - {{ (current.temp.day - 273.15).toFixed() }}&#176; C
      </div>
    </div>
  </div>
  <div
    *ngIf="otherDaysDataLoaded == true"
    id="weatherForecast"
    class="weather-forecast"
  >
    <div *ngFor="let otherDay of otherDays" class="weather-forecast-item">
      <div class="day">{{ otherDay.dt * 1000 | date: "E" }}</div>
      <img
        src="http://openweathermap.org/img/wn/{{
          otherDay.weather[0].icon
        }}@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">
        Night - {{ (otherDay.temp.night - 273.15).toFixed() }}&#176; C
      </div>
      <div class="temp">
        Day - {{ (otherDay.temp.day - 273.15).toFixed() }}&#176; C
      </div>
    </div>
  </div>
  <!-- <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div> -->
</div>
