.container {
  padding: 20px 70px;
  color: #fff;
}

.current-info {
  display: flex;
  justify-content: space-between;
}

.current-info .date-container {
  font-weight: 100;
  padding: 10px;
}

.current-info .date-container .time {
  font-size: 70px;
}

.current-info .date-container #am-pm {
  font-size: 30px;
  margin-left: 30px;
}

.current-info .date-container .date {
  font-size: 30px;
}

.current-info .date-container .others {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: rgba(27, 24, 27, 0.6);
}

.current-info .date-container .others .weather-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.current-info .place-container {
  padding: 10px;
  text-align: end;
}

.current-info .place-container .time-zone {
  font-weight: 100;
  font-size: 30px;
}

.current-info .place-container .location {
  font-weight: 700;
  font-size: 12px;
}

.future-forecast {
  background-color: rgba(24, 24, 27, 0.8);
  padding: 25px;
  position: fixed;
  bottom: 0;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.future-forecast .today {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 60px 15px;
  padding-right: 40px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.future-forecast .today .other .day {
  padding: 5px 15px;
  background: #3c3c44;
  border-radius: 50px;
  text-align: center;
}

.future-forecast .today .other .temp {
  margin-top: 10px;
  font-size: 18px;
}

.future-forecast .weather-forecast {
  display: flex;
}

.future-forecast .weather-forecast .weather-forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 15px;
  margin: 0 10px;
}

.future-forecast .weather-forecast .weather-forecast-item .day {
  background-color: #3c3c44;
  border-radius: 50px;
  padding: 5px 15px;
  text-align: center;
}

.future-forecast .weather-forecast .weather-forecast-item .temp {
  font-weight: 100;
  font-size: 12px;
}
