<div class="container">
  <div class="current-info">
    <div class="date-container">
      <div id="time" class="time">09:17<span id="am-pm">PM</span></div>
      <div id="date" class="date">Tuesday, 22 Feb</div>
      <div id="currentWeatherItems" class="others">
        <div class="weather-item">
          <div>Humudity</div>
          <div>69%</div>
        </div>
        <div class="weather-item">
          <div>Humudity</div>
          <div>69%</div>
        </div>
        <div class="weather-item">
          <div>Humudity</div>
          <div>69%</div>
        </div>
        <div class="weather-item">
          <div>Humudity</div>
          <div>69%</div>
        </div>
        <div class="weather-item">
          <div>Humudity</div>
          <div>69%</div>
        </div>
      </div>
    </div>
    <div class="place-container">
      <div id="timeZone" class="time-zone">Şehir</div>
      <div id="location" class="location">GeoLocation</div>
    </div>
  </div>
</div>
<div class="future-forecast">
  <div id="currentTemp" class="today">
    <img
      src="http://openweathermap.org/img/wn/10d@2x.png"
      alt="weather icon"
      class="w-icon"
    />
    <div class="other">
      <div class="day">Monday</div>
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
  <div id="weatherForecast" class="weather-forecast">
    <div class="weather-forecast-item">
      <div class="day">Tue</div>
      <img
        src="http://openweathermap.org/img/wn/10d@2x.png"
        alt="weather icon"
        class="w-icon"
      />
      <div class="temp">Night - 25.6&#176; C</div>
      <div class="temp">Day - 35.6&#176; C</div>
    </div>
  </div>
</div>
